@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@-ms-viewport {
    width: device-width ;
}

@-webkit-viewport {
    width: device-width;
}

/* code that is here, until the first @media block, will apply to any screen size */
@font-face{
    font-family: Assistant;
    src: url("Assistant-Regular.ttf");
}

@font-face{
    font-family: VarelaRound;
    src: url("VarelaRound-Regular.ttf");
}

body{
    background-color: #DEDFDA;
    font-family: VarelaRound;
    touch-action: manipulation;
    overflow: hidden;
}

.grayScreen{
    background-color: rgba(88, 88, 88, 0.7);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: absolute;
    top: 0vh;
    top: calc(var(--vh, 1vh) * 0);
    left: 0vw;
}

.feedBackBox{
    direction: rtl;
    border-radius: 3vh;
    border-radius: calc(var(--vh, 1vh) * 3);
    position: absolute;
    z-index: 2;
    padding: 3vh;
    padding: calc(var(--vh, 1vh) * 3);
}

.backBtn{
    background-color: black;
    border-radius: 1.5vh;
    border-radius: calc(var(--vh, 1vh) * 1.5);
    color: white;
    border: 0vw;
    padding: 2vw;
}

.title{
    color: black;
    position: absolute;
    direction: rtl;
    text-align: center;
    z-index: -1;
    font-weight: 1000;
}

#score{
    color: gray;
    text-align: center;
    font-size: 4vh;
    font-size: calc(var(--vh, 1vh) * 4);
}

#boardArea{
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.packman{
    position: relative;
    z-index: -1;
}

.allRow{
    display: flex;
    justify-content: space-evenly;
}

.rows{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.arrow{
    cursor: pointer;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.horizontal{
    position: absolute;
}

#n37{
    transform: rotate(180deg);
}

#n38{
    transform: rotate(-90deg);
}

#n40{
    transform: rotate(90deg);
}

.questionsArea{
    background-color: rgba(255, 255, 255, 0.762);
    direction: rtl;
    border-radius: 3vh;
    border-radius: calc(var(--vh, 1vh) * 3);
    position: absolute;
    z-index: 1;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-top: calc(var(--vh, 1vh) * 2);
}

.answers{
    direction: rtl;
}

input{
    float: right;
    text-align: left;
}

span{
    float: left;
    text-align: right;
}

.subjectTitle{
    text-align: center;
    font-weight: bold;
    font-style: underline;
}

.quesionTitle{
    font-weight: bolder;
}

.submitBtn{
    float: left;
    margin-bottom: 4vh;
    margin-bottom: calc(var(--vh, 1vh) * 4);
    margin-left: 2vw;
    border: none;
    color: black;
    background-color: cornflowerblue;
    border-radius: 2vh;
    border-radius: calc(var(--vh, 1vh) * 2);
    font-family: VarelaRound;
    padding: 1vw;
}

.start-over{
    color: black;
    position: absolute;
    top: 50vh;
    top: calc(var(--vh, 1vh) * 50);
    right: 14.5vw;
    font-size: 4vw;
    cursor: pointer;
}

.end-message{
    color: rgb(225, 225, 121);
    font-size: 6vw;
    position: absolute;
    left: 16vw;
    top: 32vh;
    top: calc(var(--vh, 1vh) * 32);
    background: aqua;
    z-index: 1;
}

.finalScore{
    position: absolute;      
    direction: rtl;
}

.credits{
    position: absolute;

}
  
 /*Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 780px) {
    #boardArea{
        width: 65vw;
        height: 70vh;
        height: calc(var(--vh, 1vh) * 70);
        left: 17vw;
        top: 12vh;
        top: calc(var(--vh, 1vh) * 12);
    } 

    .imgBack{
        width: 20vw;
        height: 21vh;
        height: calc(var(--vh, 1vh) * 21);
        position: absolute;
        top: 79vh;
        top: calc(var(--vh, 1vh) * 79);
        left: 79vw;
        z-index: -1;
    }

    .title{
        font-size: 7vw;
        top: 1vh;
        top: calc(var(--vh, 1vh) * 1);
        right: 30vw;
    }

    #score{
        position: absolute;
        top: 85vh;
        top: calc(var(--vh, 1vh) * 85);
        left: 12vw;
        font-size: 5vw;
    }

    .packman{
        width: 6.5vw;
        height: 7vh;
        height: calc(var(--vh, 1vh) * 7);
        left: 29vw;
        top: 26vh;
        top: calc(var(--vh, 1vh) * 26);
    }

    .space{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .rows{
        width: 65vw;
        height: 70vh;
        height: calc(var(--vh, 1vh) * 70);
        left: 0vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
    }

    .arrow{
        width: 5vw;
        height: 5.5vh;
        height: calc(var(--vh, 1vh) * 5.5);
    }

    .vertical{
        top: 83.5vh;
        top: calc(var(--vh, 1vh) * 83.5);
        left: 51vw;
    }

    .horizontal{
        top: 87.5vh;
        top: calc(var(--vh, 1vh) * 87.5);
        left: 38.4vw;
    }

    .allRow{
        width: 65vw;
        left: 3vw;
    }
    
    .food{
        width: 2vw;
        height: 2vh;
        height: calc(var(--vh, 1vh) * 2);
    }

    .question{
        width: 2vw;
        height: 2vh;
        height: calc(var(--vh, 1vh) * 2);
    }

    .questionsArea{
        width: 75vw;
        top: 8vh;
        top: calc(var(--vh, 1vh) * 8);
        left: 11vw;
        font-size: 3.8vw;
    }

    .subjectTitle{
        font-size: 5.5vw;
    }

    .feedBackBox{
        font-size: 4vw;
        width: 45vw;
        top: 18vh;
        top: calc(var(--vh, 1vh) * 18);
        left: 26vw;
        text-align: center;
    }

    .backBtn{
        font-size: 3vw;
        margin-top: 2vh;
        margin-top: calc(var(--vh, 1vh) * 2);
        font-family: VarelaRound;
    }

    .submitBtn{
        font-size: 3vw;
    }

    #n37{
        padding-left: 3vw;
        padding-right: 8vw;
    }
    
    #n38{
        margin-bottom: 3vh;
        margin-bottom: calc(var(--vh, 1vh) * 3);
    }
    
    #n40{
        margin-bottom: 2vh;
        margin-bottom: calc(var(--vh, 1vh) * 2);
    }

    .congrats{
        font-size: 12vw;
        top: 10vh;
        top: calc(var(--vh, 1vh) * 10);
        text-align: center;
        color: #96281b;
        font-weight: bold;
    }

    .finalScore{
        top: 40vh;
        top: calc(var(--vh, 1vh) * 40);
        left: 17vw;
        font-size: 7vw;
    }

    .credits{
        top: 84vh;
        top: calc(var(--vh, 1vh) * 84);
        left: 4vw;
        font-size: 4vw;
    }
}

/* Extra small devices landscape (phones, 600px and down) */
@media only screen and (max-width: 736px) {
    #boardArea{
        width: 50vw;
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
        left: 5vw;
        top: 13vh;
        top: calc(var(--vh, 1vh) * 13);
    } 

    .imgBack{
        width: 37vw;
        height: 66vh;
        height: calc(var(--vh, 1vh) * 66);
        position: absolute;
        top: 34vh;
        top: calc(var(--vh, 1vh) * 34);
        left: 59vw;
        z-index: -1;
    }

    .title{
        font-size: 4.5vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
        right: 2vw;
    }

    .packman{
        width: 3.5vw;
        height: 8vh;
        height: calc(var(--vh, 1vh) * 8);
        left: 23vw;
        top: 31vh;
        top: calc(var(--vh, 1vh) * 31);
    }

    #score{
        position: absolute;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
        left: 15vw;
        font-size: 4vw;
    }

    .space{
        width: 2vw;
        height: 3vh;
        height: calc(var(--vh, 1vh) * 3);
    }

    .arrow{
        width: 5vw;
        height: 9vh;
        height: calc(var(--vh, 1vh) * 9);
    }

    .rows{
        width: 50vw;
        height: 85vh;
        height: calc(var(--vh, 1vh) * 85);
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
        left: 0vw;
    }

    .vertical{
        top: 20vh;
        top: calc(var(--vh, 1vh) * 20);
        left: 60vw;
    }

    .horizontal{
        top: 26.5vh;
        top: 26.calc(var(--vh, 1vh) * 26.5);
        left: 48.4vw;
    }

    .allRow{
        width: 50vw;
        left: 1.5vw;
    }
    
    .food{
        width: 2vw;
        height: 3vh;
        height: calc(var(--vh, 1vh) * 2);
    }

    .question{
        width: 2vw;
        height: 3vh;
        height: calc(var(--vh, 1vh) * 3);
    }

    .questionsArea{
        width: 75vw;
        top: 8vh;
        top: calc(var(--vh, 1vh) * 8);
        left: 11vw;
    }

    .subjectTitle{
        font-size: 3.5vw;
    }

    .feedBackBox{
        font-size: 4vw;
        width: 45vw;
        top: 20vh;
        top: calc(var(--vh, 1vh) * 20);
        left: 27vw;
        text-align: center;
    }

    .backBtn{
        font-size: 3vw;
        margin-top: 2vh;
        margin-top: calc(var(--vh, 1vh) * 2);
        font-family: VarelaRound;
    }

    .submitBtn{
        font-size: 2.5vw;
    }

    #n37{
        transform: rotate(180deg);
        padding-left: 2vw;
        padding-right: 8vw;
    }
    
    #n38{
        transform: rotate(-90deg);
        margin-bottom: 4vh;
        margin-bottom: calc(var(--vh, 1vh) * 4);
    }
    
    #n40{
        transform: rotate(90deg);
        margin-bottom: 3vh;
        margin-bottom: calc(var(--vh, 1vh) * 3);
    }

    .congrats{
        font-size: 7vw;
        top: 10vh;
        top: calc(var(--vh, 1vh) * 10);
        text-align: center;
        color: #96281b;
        font-weight: bold;
    }

    .finalScore{
        top: 40vh;
        top: calc(var(--vh, 1vh) * 40);
        left: 14vw;
        font-size: 3.5vw;
    }

    .credits{
        top: 75vh;
        top: calc(var(--vh, 1vh) * 75);
        left: 3vw;
        font-size: 2.5vw;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 440px) {
    #boardArea{
        width: 75vw;
        height: 63vh;
        height: calc(var(--vh, 1vh) * 63);
        left: 13vw;
        top: 12vh;
        top: calc(var(--vh, 1vh) * 12);
    } 

    .packman{
        width: 7vw;
        height: 6.5vh;
        height: calc(var(--vh, 1vh) * 6.5);
        left: 33vw;
        top: 23vh;
        top: calc(var(--vh, 1vh) * 23);
    }

    .title{
        font-size: 8vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
        left: 14vw;
        text-align: center;
        width: 70vw;
    }

    .arrow{
        width: 5vw;
        height: 5vh;
        height: calc(var(--vh, 1vh) * 5);
    }

    #score{
        position: absolute;
        top: 90vh;
        top: calc(var(--vh, 1vh) * 90);
        left: 10vw;
        font-size: 5vw;
    }

    .imgBack{
        width: 30vw;
        height: 23vh;
        height: calc(var(--vh, 1vh) * 23);
        position: absolute;
        top: 77vh;
        top: calc(var(--vh, 1vh) * 77);
        left: 66vw;
        z-index: -1;
    }

    .space{
        width: 2vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .rows{
        width: 73vw;
        height: 63vh;
        height: calc(var(--vh, 1vh) * 63);
        left: 0vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
    }

    .vertical{
        top: 78vh;
        top: calc(var(--vh, 1vh) * 78);
        left: 48vw;
    }

    .horizontal{
        top: 83.5vh;
        top: calc(var(--vh, 1vh) * 83.5);
        left: 35.5vw;
    }

    .allRow{
        width: 73vw;
        left: 1.5vw;
    }
    
    .food{
        width: 2vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .question{
        width: 2vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    #n37{
        padding-left: 7vw;
        padding-right: 6vw;
    }
    
    #n38{
        margin-top: 1vh;
        margin-top: calc(var(--vh, 1vh) * 1);
    }

    .questionsArea{
        width: 75vw;
        top: 8vh;
        top: calc(var(--vh, 1vh) * 8);
        left: 11vw;
        font-size: 5vw;
    }

    .subjectTitle{
        font-size: 6vw;
    }

    .feedBackBox{
        font-size: 6vw;
        width: 45vw;
        top: 17vh;
        top: calc(var(--vh, 1vh) * 17);
        left: 23vw;
        text-align: center;
    }

    .backBtn{
        font-size: 4.5vw;
        margin-top: 2vh;
        margin-top: calc(var(--vh, 1vh) * 2);
        font-family: VarelaRound;
    }

    .submitBtn{
        font-size: 4.5vw;
        padding: 2vw;
    }

    .congrats{
        font-size: 12vw;
        top: 10vh;
        top: calc(var(--vh, 1vh) * 10);
        text-align: center;
        color: #96281b;
        font-weight: bold;
    }

    .finalScore{
        top: 40vh;
        top: calc(var(--vh, 1vh) * 40);
        left: 1vw;
        width: 82vw;
        font-size: 7vw;
    }

    .credits{
        top: 85vh;
        top: calc(var(--vh, 1vh) * 85);
        left: 3vw;
        font-size: 4.5vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #boardArea{
        width: 70vw;
        height: 75vh;
        height: calc(var(--vh, 1vh) * 75);
        left: 4vw;
        top: 23vh;
        top: calc(var(--vh, 1vh) * 23);
    }

    .title{
        font-size: 7.5vw;
        top: 1vh;
        top: calc(var(--vh, 1vh) * 1);
        right: 5vw;
    }

    .imgBack{
        width: 18vw;
        height: 20vh;
        height: calc(var(--vh, 1vh) * 20);
        position: absolute;
        top: 4vh;
        top: calc(var(--vh, 1vh) * 4);
        left: 8vw;
        z-index: -1;
    }

    #score{
        position: absolute;
        top: 14vh;
        top: calc(var(--vh, 1vh) * 14);
        left: 55vw;
        font-size: 4vw;
    }

    .packman{
        width: 6vw;
        height: 7vh;
        height: calc(var(--vh, 1vh) * 7);
        left: 32vw;
        top: 28vh;
        top: calc(var(--vh, 1vh) * 28);
    }
    
    .space{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }
    
    .food{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .question{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .rows{
        width: 70vw;
        height: 75vh;
        height: calc(var(--vh, 1vh) * 75);
    }

    .allRow{
        width: 70vw;
        left: 3vw;
    }

    .arrow{
        height: 5vh;
        height: calc(var(--vh, 1vh) * 5);
        width: 5vw;
    }

    .vertical{
        top: 40vh;
        top: calc(var(--vh, 1vh) * 40);
        left: 80vw;
    }

    .horizontal{
        top: 44.5vh;
        top: calc(var(--vh, 1vh) * 44.5);
        left: 67.5vw;
    }

    .questionsArea{
        width: 75vw;
        top: 8vh;
        top: calc(var(--vh, 1vh) * 8);
        left: 11vw;
        font-size: 2.5vw;
    }

    .subjectTitle{
        font-size: 4vw;
    }

    .feedBackBox{
        font-size: 3vw;
        width: 40vw;
        top: 20vh;
        top: calc(var(--vh, 1vh) * 20);
        left: 27vw;
        text-align: center;
    }

    .backBtn{
        font-size: 2.5vw;
        margin-top: 2vh;
        margin-top: calc(var(--vh, 1vh) * 2);
        padding: 1vw;
        font-family: VarelaRound;
    }

    .submitBtn{
        font-size: 2.5vw;
    }

    #n37{
        padding-left: 4vw;
        padding-right: 8vw;
    }
    
    #n38{
        margin-bottom: 4vh;
        margin-bottom: calc(var(--vh, 1vh) * 4);
    }
    
    #n40{
        margin-bottom: 2vh;
        margin-bottom: calc(var(--vh, 1vh) * 2);
    }

    .congrats{
        font-size: 10vw;
        top: 10vh;
        top: calc(var(--vh, 1vh) * 10);
        text-align: center;
        color: #96281b;
        font-weight: bold;
    }

    .finalScore{
        top: 45vh;
        top: calc(var(--vh, 1vh) * 45);
        right: 38vw;
        width: 82vw;
        font-size: 4vw;
    }

    .credits{
        top: 78vh;
        top: calc(var(--vh, 1vh) * 78);
        left: 3vw;
        font-size: 3vw;
    }
} 

/*Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #boardArea{
        width: 52vw;
        height: 77vh;
        height: calc(var(--vh, 1vh) * 77);
        left: 5vw;
        top: 20vh;
        top: calc(var(--vh, 1vh) * 20);
    }

    #score{
        position: absolute;
        top: 7vh;
        top: calc(var(--vh, 1vh) * 7);
        left: 10vw;
    }   

    .title{
        font-size: 7vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
        right: 5vw;
    }

    .packman{
        width: 5vw;
        height: 7vh;
        height: calc(var(--vh, 1vh) * 7);
        left: 23.5vw;
        top: 28.5vh;
        top: calc(var(--vh, 1vh) * 28.5);
    }

    .imgBack{
        width: 40vw;
        height: 60vh;
        height: calc(var(--vh, 1vh) * 60);
        position: absolute;
        top: 40vh;
        top: calc(var(--vh, 1vh) * 40);
        left: 60vw;
        z-index: -1;
    }
    
    .space{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }
    
    .food{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .question{
        width: 1vw;
        height: 1.5vh;
        height: calc(var(--vh, 1vh) * 1.5);
    }

    .rows{
        width: 52vw;
        height: 77vh;
        height: calc(var(--vh, 1vh) * 77);
        left: 0vw;
        top: 0vh;
        top: calc(var(--vh, 1vh) * 0);
    }

    .allRow{
        width: 52vw;
        left: 1.5vw;
    }

    .arrow{
        width: 4vw;
        height: 7.5vh;
        height: calc(var(--vh, 1vh) * 7.5);
    }

    .vertical{
        top: 24.7vh;
        top: calc(var(--vh, 1vh) * 24.7);
        left: 65vw;
    }

    .horizontal{
        top: 30vh;
        top: calc(var(--vh, 1vh) * 30);
        left: 53.4vw;
    }

    #n37{
        transform: rotate(180deg);
        padding-left: 3vw;
        padding-right: 8vw;
    }
    
    #n38{
        transform: rotate(-90deg);
        margin-bottom: 4vh;
        margin-bottom: calc(var(--vh, 1vh) * 4);
    }
    
    #n40{
        transform: rotate(90deg);
        margin-bottom: 2vh;
        margin-bottom: calc(var(--vh, 1vh) * 2);
    }

    .congrats{
        font-size: 8vw;
        top: 10vh;
        top: calc(var(--vh, 1vh) * 10);
        text-align: center;
        color: #96281b;
        font-weight: bold;
    }

    .finalScore{
        top: 30vh;
        top: calc(var(--vh, 1vh) * 30);
        right: 35vw;
        width: 82vw;
        font-size: 4vw;
    }

    .credits{
        top: 70vh;
        top: calc(var(--vh, 1vh) * 70);
        left: 3vw;
        font-size: 3vw;
    }
}